.cls-1,
.cls-10,
.cls-12,
.cls-13,
.cls-16,
.cls-17,
.cls-18,
.cls-2,
.cls-20,
.cls-22,
.cls-25,
.cls-27,
.cls-28,
.cls-31,
.cls-5,
.cls-6,
.cls-8 {
    fill: none;
}

.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-16,
.cls-17,
.cls-18,
.cls-19,
.cls-2,
.cls-20,
.cls-21,
.cls-22,
.cls-23,
.cls-25,
.cls-27,
.cls-28,
.cls-29,
.cls-3,
.cls-31,
.cls-32,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke: #040000;
}

.cls-1,
.cls-11,
.cls-21,
.cls-3 {
    stroke-miterlimit: 11.08;
}

.cls-1 {
    stroke-width: 2px;
}

.cls-10,
.cls-13,
.cls-16,
.cls-18,
.cls-2,
.cls-20,
.cls-22,
.cls-25,
.cls-28,
.cls-31,
.cls-6,
.cls-8 {
    stroke-linecap: round;
}

.cls-2 {
    stroke-miterlimit: 13.3;
    stroke-width: 1.6px;
}

.cls-14,
.cls-19,
.cls-3 {
    fill: #18499e;
}

.cls-11,
.cls-21,
.cls-3 {
    stroke-width: 1.33px;
}

.cls-4 {
    isolation: isolate;
    font-size: 3.85px;
    fill: #040000;
    font-family: ArialMT, Arial;
}

.cls-5,
.cls-7 {
    stroke-miterlimit: 12.83;
}

.cls-5 {
    stroke-width: 2.31px;
}

.cls-6 {
    stroke-miterlimit: 14.85;
    stroke-width: 1.78px;
}

.cls-21,
.cls-29,
.cls-32,
.cls-7 {
    fill: #e7211a;
}

.cls-7 {
    stroke-width: 1.54px;
}

.cls-8 {
    stroke-miterlimit: 11.02;
    stroke-width: 1.32px;
}

.cls-9 {
    letter-spacing: -0.02em;
}

.cls-10 {
    stroke-miterlimit: 11.77;
    stroke-width: 1.41px;
}

.cls-11,
.cls-23 {
    fill: #187c3a;
}

.cls-12,
.cls-14,
.cls-32 {
    stroke-miterlimit: 11.67;
}

.cls-12 {
    stroke-width: 2.1px;
}

.cls-13 {
    stroke-miterlimit: 12.86;
    stroke-width: 1.54px;
}

.cls-14,
.cls-32 {
    stroke-width: 1.4px;
}

.cls-15 {
    letter-spacing: -0.06em;
}

.cls-16 {
    stroke-miterlimit: 10.43;
    stroke-width: 1.25px;
}

.cls-17,
.cls-19,
.cls-23 {
    stroke-miterlimit: 12.25;
}

.cls-17 {
    stroke-width: 2.21px;
}

.cls-18 {
    stroke-miterlimit: 13.77;
    stroke-width: 1.65px;
}

.cls-19,
.cls-23 {
    stroke-width: 1.47px;
}

.cls-20 {
    stroke-miterlimit: 10.78;
    stroke-width: 1.29px;
}

.cls-22 {
    stroke-miterlimit: 11.98;
    stroke-width: 1.44px;
}

.cls-24 {
    letter-spacing: -0.11em;
}

.cls-25 {
    stroke-miterlimit: 11.23;
    stroke-width: 1.35px;
}

.cls-26 {
    letter-spacing: -0.04em;
}

.cls-27,
.cls-29 {
    stroke-miterlimit: 10.5;
}

.cls-27 {
    stroke-width: 1.89px;
}

.cls-28 {
    stroke-miterlimit: 12.01;
    stroke-width: 1.44px;
}

.cls-29 {
    stroke-width: 1.26px;
}

.cls-30 {
    letter-spacing: 0em;
}

.cls-31 {
    stroke-miterlimit: 13.16;
    stroke-width: 1.58px;
}

.cls-33 {
    letter-spacing: -0.09em;
}