.st0 {
    fill: #DFFFDF;
    stroke: #000000;
    stroke-width: 0.9333;
    stroke-miterlimit: 3.7333;
}

.st1 {
    fill: #754C24;
}

.st2 {
    fill: #512C0E;
}

.st3 {
    fill: #85CCA2;
}

.st4 {
    fill: #FF0000;
}

.st5 {
    fill: #FFFFFF;
}